<%- include ../partials/header %>
<section id="show-page" >
    <div>Title: </div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div><%= flight.destination %></div>
    
    <div class="form-group">Destinations:
        <label for="airport">Destination</label>
        <select class="form-control" name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="SEA">SEA</option>
            <option value="LAX">LAX</option>
        </select>
    </div>
    
</section>
<%- include ../partials/footer %>
